.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        img {

            @include breakpoint-down(lg){
                width: 48px;
                
            }
        }
    }

    .menu.active {
        transform: translate(0);
    }

    .menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all 0.3s linear;

        @include breakpoint-down(lg) {
            padding: 97px 0 80px 36px;
            display: block;
            position: fixed;
            width: 50vw;
            height: 100vh;
            background-color: white;
            left: 0;
            top: 0;
            z-index: 20;
            transform: translateX(-100%);
        }

        @include breakpoint-down(md) {
            padding-top: 50px;
            width: 100vw;
        }

        &-item {
            padding: 16px 0;
            position: relative;
            
            &:not(:last-child) {
                margin-right: 31px;

                @include breakpoint-down(xl) {
                    margin-right: 20px;
                }
            }
            &--close {
                position: absolute;
                top: 8px;
                right: 0px;
                display: none;
                color: red;

                @include breakpoint-down(md) {
                    top: -10px;
                }
    
                i {
                    font-size: 4rem;
                }
    
                @include breakpoint-down(lg) {
                    display: block;
                }
            }
        }

        &-link {
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: black;
            position: relative;

            &:hover {
                color: $primary-color;
            }
            
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $primary-color;
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform 0.5s ease;
              }
              
              &:hover::before {
                color: $primary-color;
                transform-origin: bottom left;
                transform: scaleX(1);
              }
        }
    }

    &-toggle {
        font-size: 40px;
    }

    &-register {
        max-width: 82px;
        padding: 25px 9px;
        background-color: $primary-color;
        a {
            font-family: $font-heading;
            text-transform: uppercase;
            text-align: center;
            font-size: 2.4rem;
            color: white;
            p {
                margin-top: 3px;
            }
        }
    }
}