.material {
    
    &-content {
        background: url(../image/background-material.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include breakpoint-down(lg) {
            background-size: auto;
            background-position: bottom;
        }
    }

    &-body {
        position: relative;
    }

    &-box {
        padding: 44px 0; 
        display: flex !important;
        justify-content: center;
        align-items: center; 
        text-align: center;
        transition: all 0.3s linear;

        @include breakpoint-down(lg) {
            padding-top: 0;
            flex-direction: column-reverse;
        }
    }

    &-heading {
        margin-bottom: 18px;

        @include breakpoint-down(lg) {
            margin-top: 8px;
            margin-bottom: 12px;
        }
    }
    &-info {
        margin-right: 120px;

        @include breakpoint-down(xl) {
            margin-right: 28px;
        }

        @include breakpoint-down(lg) {
            margin-right: 0;
        }
    }

    &-item {
        min-width: 355px;
        padding: 15px 38px;
        background-color: rgba(242, 171, 65, 1);
        margin-bottom: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-icon {
        margin-right: 12px;
        flex-shrink: 0;
    }

    &-desc {
        flex-shrink: 1;
        margin-right: auto;
    }

    &-btn {
        margin-top: 16px;
    }

    &-img {
        width: 562px;
        height: 469px;

        @include breakpoint-down(xl) {
            width: 562px;
            height: 362px;
        }

        @include breakpoint-down(lg) {
            width: 100%;
            height: 360px;
        }

        @include breakpoint-down(md) {
            height: 233px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @include breakpoint-down(lg) {
        .chevron-prev {
            left: 15px;
        }
        
        .chevron-next {
            right: 15px;
        }
    }

    @include breakpoint-down(md) {
        .chevron-next,
        .chevron-prev {
            top: 38%;
        }
    }
}