.product {
    background: url(../image/introduce-background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include breakpoint-down(lg) {
        background-size: auto;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        @include breakpoint-down(md) {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: 38%;
            grid-auto-flow: column;
            grid-gap: 1.5rem;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            grid-template-columns: unset;
            }
            &::-webkit-scrollbar {
              display: none;
              width: 0;
            }
            & > *{
              scroll-snap-align: start;
            }

        &-item {
            cursor: pointer;
            border: 1px solid #C4C4C4;
            font-size: 1.4rem;
            line-height: (18 / 14);
            color: #656565;
            text-align: center;
    
            &:hover .nav-link {
                background-color: $primary-color;
                color: white;
            }
    
            &:not(:last-child) {
                margin-right: 8px;
    
                @include breakpoint-down(md) {
                    margin-right: 0;
                }
            }
        }
        &-link {
            color: black;
            padding: 10px;
        }
    }

    .nav-link.active {
        background-color: $primary-color;
        color: white;
    }

    &-item {
        margin: 48px 15px 36px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        background-color: white;
        
        @include breakpoint-down(md) {
            margin: 36px 8px 24px;
        }

        &:hover {
            transform: translateY(-4px);
        }
    }

    &-thumbnail {
        position: relative;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-sale {
        position: absolute;
        top: 0;
        left: 0;
        padding: 6px 12px;
        background-color: #F14E18;
        color: white;
        font-weight: 700;
        border-radius: 10px 0;
        font-size: 1.4rem;
    }

    &-name {
        text-align: center;
        padding: 9px 16px;
        min-height: 62px;
        display: -moz-box;
        -moz-box-orient: vertical;
        display:-webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;

        @include breakpoint-down(md) {
            font-size: 1.4rem;
        }
        
    }

    @include breakpoint-up(xl) {
        .chevron-prev {
            left: -32px;
        }
        .chevron-next {
            right: -32px;
        }
    }

    &-btn {
        text-align: center;
    }
}