.topbar {
    background-color: $primary-color;

    @include breakpoint-down(md) {
        display: none;
    }
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        padding: 11px 0;
        display: flex;
        align-items: center;
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }
        i {
            font-size: 1.3rem;
            color: white;
            margin-right: 8px;
        }
        a {
            font-size: 1.3rem;
            color: white;
        }

        img {
            margin-right: 8px;
        }

        &--phone {
            position: relative;
            // margin-right: 16px;

            ::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 15px;
                background-color: white;
                right: -16px;
            }
        }
    }
    &-right {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-search {
            font-size: 1.7rem;
        }
    }

    &-search {
        width: 55px;
        height: 22px;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1.3rem;

        &::placeholder {
            font-family: $font-family;
            color: white;
            opacity: 1; /* Firefox */
          }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: white;
           font-family: $font-family;
          }
          
        &::-ms-input-placeholder { /* Microsoft Edge */
           color: white;
           font-family: $font-family;
        }
    }
}