@font-face {
    font-family: 'UTM Babes';
    font-display: swap;
    src: url('../assets/font/UTM\ Bebas.ttf') format('truetype');
} 

$font-family: "Quicksand", sans-serif;
$font-heading: "UTM Babes", sans-serif;
$primary-color: #9a732b;
